1.x/bin/
.project
.classpath
1.x/lib/
1.x/*.log
1.x/test/lib/
1.x/webapps/
*.class
1.x/src/rogatkin/app/remote/*
1.x/.temp_repo/
1.x/test/.temp_repo/
1.x/compatibility/build/
bin/
*.obj
.DS_Store